.movie-container--loading {
  position: relative;
  inline-size: 150px;
  min-inline-size: 170px;
  max-inline-size: 250px;
  block-size: auto;
  min-block-size: 220px;
  max-block-size: 250px;
  margin-inline-end: 20px;
  border-radius: 12px;
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

.movie-container {
  position: relative;
  inline-size: 150px;
  min-inline-size: 170px;
  max-inline-size: 250px;
  block-size: auto;
  min-block-size: 220px;
  max-block-size: 250px;
  margin-inline-end: 20px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}

.movie-container .movie-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  background-color: var(--color-medium-3);
  border-radius: inherit;
}

.movie-add-favorites-btn {
  position: absolute;
  bottom: -4px;
  right: -4px;
  z-index: 1;
}

.movie-add-favorites-btn .fa-heart {
  padding: 12px;
  border-radius: 50%;
  font-size: var(--font-size-lg);
  color: var(--color-light-1);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, top 0.15s ease-in-out,
    left 0.15s ease-in-out;
}

.movie-add-favorites-btn .fa-heart--active {
  color: var(--color-dark-2);
  background-color: var(--color-light-1);
  box-shadow: 0px 0px 10px 2px var(--color-dark-1);
}

.info-movie-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  inline-size: 100%;
  block-size: 100%;
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: var(--color-light-1);
  text-align: center;
}

.info-movie__title {
  font-size: var(--font-size-md);
}

.info-movie__date {
  font-size: var(--font-size-md);
  color: var(--color-medium-2);
  font-weight: var(--font-weight-title2);
}

@media (min-width: 768px) {
  .movie-add-favorites-btn .fa-heart:hover {
    color: var(--color-dark-2);
    background-color: var(--color-light-1);
    box-shadow: 0px 0px 10px 2px var(--color-dark-1);
  }
}

/*keyframes*/
@keyframes loadingAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
