/* footer */
.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  inline-size: 100%;
  block-size: 120px;
  background-color: var(--color-dark-2);
  border-block-start: 1px solid var(--color-dark-1);
}

.footer__title {
  color: var(--color-light-1);
}

.footer__sentence {
  color: var(--color-medium-2);
}
