/* Header container for movie details */
.header-container--movie-details {
  inline-size: 100%;
  background-size: cover !important;
  background-position: top !important;
}

.header__container-main--movie-details {
  display: grid;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  gap: 44px;
  inline-size: 90%;
  margin: 0 auto;
}

.movie-detail-main-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  inline-size: 100%;
  block-size: 100%;
  margin: 0 auto;
}