/* Header  home*/
.header-container {
  inline-size: 100%;
  padding: 24px 0;
  background: linear-gradient(
      180deg,
      rgb(41, 5, 69, 0.7) 0%,
      rgb(41, 5, 69) 100%
    ),
    url(../assets/images/backgroundHeader.svg);
}

.header__container-main {
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  gap: 32px;
  inline-size: 90%;
  margin: 0 auto;
}

.header__logo-container {
  grid-row: 1;
  inline-size: 190px;
  block-size: auto;
}

.header__logo-img {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

.header-titles {
  grid-row: 2;
  inline-size: 100%;
  text-align: center;
}

.header__title {
  color: var(--color-light-1);
  margin-bottom: 12px;
}

.header__description {
  color: var(--color-light-2);
}

.header-search-form {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 600px;
  block-size: auto;
}

.search-form__input {
  inline-size: 70%;
  block-size: auto;
  border-start-start-radius: 24px;
  border-end-start-radius: 24px;
}
.search-form__btn {
  inline-size: 30%;
  block-size: auto;
  border-end-end-radius: 24px;
  border-start-end-radius: 24px;
}
