/* This file contains the styles for the headings for the Categories, Search, MovieDetails, and Trend Preview views. */

.header__container-main--search,
.header__container-main--trends,
.header__container-main--category {
  position: relative;
  grid-template-rows: repeat(2, auto);
}

.header-arrow .fa-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  margin-inline-end: 16px;
  border-radius: 50%;
  font-size: var(--font-size-lg2);
  color: var(--color-light-1);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.header-arrow .fa-arrow-left:hover {
  color: var(--color-dark-2);
  background-color: var(--color-light-1);
}

.header-title--search,
.header-title--trends,
.header-title--categoryView {
  margin: 16px 0;
  color: var(--color-light-1);
}

/* Header container for movie details */
.header-container--movie-details {
  inline-size: 100%;
  background-size: cover !important;
  background-position: top !important;
}

.header__container-main--movie-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  inline-size: 90%;
  block-size: 100%;
  margin: 0 auto;
}

.movie-detail-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: auto;
  margin-top: 100px;
}

.detail-container-poster {
  position: relative;
  inline-size: 20%;
  min-inline-size: 170px;
  max-inline-size: 250px;
  block-size: auto;
  border-radius: 12px;
}

.movie-detail__poster {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}

.score-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: grid;
  place-items: center;
  inline-size: 50px;
  block-size: 50px;
  border-radius: 50%;
  background-color: var(--color-medium-3);
}

.score-container:before {
  content: "";
  position: absolute;
  inline-size: 80%;
  block-size: 80%;
  border-radius: 50%;
  background-color: var(--color-light-1);
}

.movie-detail__score {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-title2);
  color: var(--color-medium-3);
  border-radius: 50%;
}

.movie-detail__score::after {
  content: "%";
  font-size: var(--font-size-sm);
}

.detail-container-text {
  inline-size: 100%;
  padding-block: 12px;
  color: var(--color-light-1);
}

.movie-detail__title {
  inline-size: 100%;
  font-size: var(--font-size-lg3);
  text-align: center;
  margin-block-end: 12px;
}

.detail-container-text .categories-list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .detail-container-text {
    inline-size: 70%;
  }
}