/* This file contains the styles for the headings for the Categories, Search, MovieDetails, and Trend Preview views. */

.header__container-main--search,
.header__container-main--trends,
.header__container-main--category {
  position: relative;
  grid-template-rows: repeat(2, auto);
}

.header-arrow .fa-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  margin-inline-end: 16px;
  border-radius: 50%;
  font-size: var(--font-size-lg2);
  color: var(--color-light-1);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.header-arrow .fa-arrow-left:hover {
  color: var(--color-dark-2);
  background-color: var(--color-light-1);
}

.header-title--search,
.header-title--trends,
.header-title--categoryView {
  margin: 16px 0;
  color: var(--color-light-1);
}