.movie-detail-container {
  inline-size: 100%;
  block-size: auto;
  background-color: var(--color-dark-2);
}

.related-movies-container {
  inline-size: 90%;
  margin: 0 auto;
  padding: 16px 0 40px 0;
}

.related-movies__title {
  inline-size: 100%;
  padding: 0 0 8px 0;
  border-bottom: 2px solid var(--color-medium-3);
  color: var(--color-light-1);
}

.related-movies-scroll-container {
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: auto;
  margin: 0 auto;
  padding: 32px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.related-movies-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.related-movies-scroll-container::-webkit-scrollbar:horizontal {
  block-size: 10px;
}

.related-movies-scroll-container::-webkit-scrollbar-track {
  background-color: var(--color-medium-1);
  border-radius: 4px;
}

.related-movies-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-3);
  border-radius: 4px;
}

/* Media Queries for movie list of "movieD" */
@media (min-width: 768px) {
  .related-movies-scroll-container .movie-container--dinamic {
    -webkit-transition: 420ms all;
    transition: 420ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .movie-container--dinamic:hover ~ .movie-container--dinamic {
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }

  .related-movies-scroll-container:hover .movie-container--dinamic {
    opacity: 0.8;
  }

  .related-movies-scroll-container:hover .movie-container--dinamic:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}
