/* Main  home */
/* Main TrendingSection */
.trending-preview-container {
  inline-size: 100%;
  padding: 36px 0;
  background-color: var(--color-light-2);
}

.trending-preview-header {
  inline-size: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-block-end: 12px;
  border-bottom: 1px solid var(--color-medium-3);
}

.trending-preview__title {
  color: var(--color-dark-2);
}

.trending-preview__btn {
  inline-size: auto;
  block-size: auto;
  border-radius: 24px;
}

.trending-preview-movieList {
  display: flex;
  align-items: center;
  inline-size: 90%;
  padding: 32px 0;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trending-preview-movieList::-webkit-scrollbar {
  -webkit-appearance: none;
}

.trending-preview-movieList::-webkit-scrollbar:horizontal {
  block-size: 10px;
}

.trending-preview-movieList::-webkit-scrollbar-track {
  background-color: var(--color-light-2);
  border-radius: 4px;
}

.trending-preview-movieList::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-1);
  border-radius: 4px;
}

/* Main CategoriesSection */
.categories-preview-container {
  inline-size: 100%;
  padding: 36px 0;
}

.categories-preview__title {
  inline-size: 90%;
  margin: 0 auto;
  padding-block-end: 12px;
  margin-block-end: 18px;
  border-bottom: 1px solid var(--color-medium-3);
  color: var(--color-dark-2);
}

.categories-preview-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  inline-size: 90%;
  margin: 0 auto;
}

.category-container {
  inline-size: 40%;
  max-inline-size: 200px;
  margin-block-end: 20px;
}

.category-title {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title:hover {
  transform: scale(1.1);
}

.category-title::before {
  content: '•';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-inline-end: 8px;
  inline-size: 4px;
  block-size: 4px;
}
#id28 {
  --idColor: var(--yellow);
}
#id12 {
  --idColor: var(--red);
}
#id16 {
  --idColor: var(--green);
}
#id35 {
  --idColor: var(--lightBlue);
}
#id80 {
  --idColor: var(--darkBlue);
}
#id99 {
  --idColor: var(--color-dark-1);
}
#id18 {
  --idColor: var(--color-medium-1);
}
#id10751 {
  --idColor: var(--yellow);
}
#id14 {
  --idColor: var(--red);
}
#id36 {
  --idColor: var(--green);
}
#id27 {
  --idColor: var(--lightBlue);
}
#id10402 {
  --idColor: var(--darkBlue);
}
#id9648 {
  --idColor: var(--color-dark-1);
}
#id10749 {
  --idColor: var(--color-medium-1);
}
#id878 {
  --idColor: var(--yellow);
}
#id10770 {
  --idColor: var(--red);
}
#id53 {
  --idColor: var(--green);
}
#id10752 {
  --idColor: var(--lightBlue);
}
#id37 {
  --idColor: var(--darkBlue);
}

/* Media Queries for movie list of "home" */
@media (min-width: 768px) {
  .trending-preview-movieList .movie-container--dinamic {
    -webkit-transition: 420ms all;
    transition: 420ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .movie-container--dinamic:hover ~ .movie-container--dinamic {
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }

  .trending-preview-movieList:hover .movie-container--dinamic {
    opacity: 0.8;
  }

  .trending-preview-movieList:hover .movie-container--dinamic:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}
