/* .movieDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 403px;
    z-index: 1;
    position: absolute;
    background-color: var(--color-light-1);
  }
  
  .movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
  }
  
  .movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
  }
  .movieDetail-score::before {
    content: "★";
    color: var(--yellow);
    padding-right: 4px;
  }
  
  .movieDetail-description {
    margin: 0 0 24px 0;
  }
  
  .relatedMovies-container {
    margin-top: 24px;
    height: 216px;
  }
  
  .relatedMovies-title {
    margin-bottom: 16px;
  }
  
  .relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
  }
  
  .relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
  }
  
  .relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
  } */